.cardList {
  display: flex;
  flex-direction: column;
}

.search {
  flex: 0 0 10rem;
  display: flex;
}

.list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex: 0 0 223px;
}
