.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0.1rem;
}

.card {
  display: flex;
  position: relative;
}

.cardHover {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: opacity, 0.5s;
  opacity: 0;
  border-radius: 0.8rem;
  background-color: black;
  height: 100%;
  color: white;
}

.cardHover a {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.card:hover .cardHover {
  opacity: 0.8;
}

.loadMore {
  display: flex;
  flex: 1 0 100%;
  margin: 2rem 0;
}

.loadMoreCta {
  display: inline-block;
  position: relative;
  transition: background, 0.5s;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background: cadetblue;
  cursor: pointer;
  width: 25rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.loadMoreCta:hover {
  background: #4d8182;
}
