.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.title {
  text-align: center;
}

.wrapper .search input {
  margin: 0 0.5rem;
  padding: 0.3rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  width: 12rem;
}

.search {
  align-self: center;
}

.search button {
  display: inline-block;
  position: relative;
  transition: background, 0.5s;
  padding: 0.4rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background: cadetblue;
  cursor: pointer;
  width: 9rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.search button:hover {
  background: #4d8182;
}

.list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: center;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border: solid 1px grey;
  border-radius: 0.4rem;
  max-width: 71.1rem;
  max-height: 19rem;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.list::-webkit-scrollbar {
  width: 0.8rem;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: dimgray;
}

.card {
  display: flex;
  position: relative;
}

.cardHover {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: opacity, 0.5s;
  opacity: 0;
  border-radius: 0.8rem;
  background-color: black;
  height: 100%;
  color: white;
}

.cardHover a {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.card:hover .cardHover {
  opacity: 0.8;
}
