.header {
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 2rem;
  box-shadow:
    0 2px 6px rgba(132, 145, 164, 0.12),
    0 2px 4px rgba(132, 145, 164, 0.24);
  height: 5rem;
  font-family: Helvetica, sans-serif, condensed;
}

.link {
  display: flex;
  align-items: stretch;
  padding: 0 1rem;
  user-select: none;
}

.link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color, 0.5s;
  border-bottom: solid 4px white;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  user-select: none;
}

.link:hover a {
  color: cadetblue;
}
