.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}

.list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  position: relative;
}

.cardHover {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: opacity, 0.5s;
  opacity: 0;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: black;
  height: 40%;
  color: white;
}

.cardHover a {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.card:hover .cardHover {
  opacity: 0.8;
}
